/* Additional styling for larger screens */
nav ul {
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

figure {
    width: 30%;
    margin: 10px;
}

figcaption {
    font-size: 14px;
    text-align: center;
}

/* For large screens */
@media screen and (min-width: 768px) {
    .image-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
img {
  display: block;
  margin: 0 auto;
  max-width: 500px;
}