/* Resetting default margin and padding */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure {
    margin: 0;
    padding: 0;
}

/* Basic styling for header */
header {
    background-color: #000080;
    color: #fff;
    padding: 20px;
}

header h1 {
    font-size: 24px;
}

/* Navigation menu */
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Basic styling for main */
main {
    padding: 20px;
}

main h2 {
    font-size: 20px;
}

/* Styling for footer */
footer {
    background-color: #000080;
    color: #fff;
    padding: 20px;
}

/* For small screens */
@media screen and (max-width: 767px) {
    .image-grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
    }
  }
  